# Node.js modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# IDE or editor files
.vscode/
.idea/
*.swp

# Optional OS files
*.bak
*.tmp

# Render/Deployment-specific
.cache/
